@model Forms.Models.ConversionModel


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speed Result</title>
</head>
<body>
    <h1>Speed Result</h1>
    <p>The calculated Time is: @Model.Time </p>
    <a href="/Home/Speed">Back</a>
</body>
</html>
