@{
    ViewData["Title"] = "Speed Calculator";
}

@model Forms.Models.SetVari

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true">




<h1>@ViewData["Title"]</h1>

<Div class=Box>
        
        <h4> Calculate Speed (Distance/Time)</h4>
        <form method="post" action="/Speed/Result" >
                <label for="time">Time:    </label>
                <input type="number" id="time" name="time" required><br>
                <label for="distance">Distance:</label>
                <input type="number" id="distance" name="distance" required><br>
                <button type="submit">Calculate Speed</button>
        </form>
</Div>
<br>
<Div class=Box>
        
        <h4> Calculate Time (Distance/Speed)</h4>
        <form method="post" action="/Time/Result">
                <label for="Speed">Speed:</label>
                <input type="number" id="Speed" name="Speed" required><br>
                <label for="distance">Distance:</label>
                <input type="number" id="distance" name="distance" required><br>
                <button type="submit">Calculate Time</button>
        </form>
</Div>
<br>
<div class=Box>

        <h4>Calculate Distance (Speed*Time)</h4>
        <form method="post" action="/Dis/Result" >
                <label for="time">Time: </label>
                <input type="number" id="time" name="time" required><br>
                <label for="Speed">Speed:</label>
                <input type="number" id="Speed" name="Speed" required><br>
                <button type="submit">Calculate Distance</button>
        </form>
</div>