<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kentic Energy Result</title>
</head>
<body>
    <h1>Speed Result</h1>
    <p>The Kentic Energy is: @ViewBag.KE  </p>
    <a href="/Home/KenticEnergy">Back</a>
</body>
</html>
